.page{
   max-width: 100vw;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin: 0 auto;
    background: url(../img/BG.png)no-repeat top / cover fixed;
    color: #1C1C1C;
}
.page__body{
    width: 90vw;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}
.page-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    margin: 0 auto;
    max-width: 1920px;
}
.page-main{
    width: 85vw;
    max-width: 1920px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 5%;
    margin: 0 auto;
}
.visually-hidden{
    display: none;
}
@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(243, 129, 32, 0.6);
	}
	70% {
		box-shadow: 0 0 0 10px rgba(243, 129, 32, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(243, 129, 32, 0);
	}
}
@media(max-width:1100px){
    .page{
        font-size: 10px;
    }
}
@media(max-width:600px){
    .page{
        width: 100%;
        overflow-y: hidden;
        max-height: 600px;
        background: linear-gradient(
            270deg,
            #1b2830 35.62% 
            #2b536b 55%           
          ),
          url(../img/BG.png) no-repeat left  / auto auto;
    }
    .page__body{
        max-width: 350px;
        min-width: 250px;
    }
    .page-header{
        max-width: 320px;
        min-width: 250px;
    }
    .page-main{
        max-width: 350px;
        min-width: 250px;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .main__wrapper{
        display: flex;
        flex-direction: column-reverse;
    }
}