.logo{
    width: 100%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo__img{
    width: 140%;
    min-width: 110%;
}
.content-box .logo {
    height: 175px;
}
#header{
    display: none;
}
@media(max-width:1440px){
    
}
@media(max-width:900px){
    .logo{
        min-width: 100px;
    }
}
@media(max-width:600px){
    .content-box:nth-child(3),
    .content-box:nth-child(5){
        display: none;
    }
    #header{
        display: block;
    }
    .logo{
        max-width: 85px;
    }
    .logo__img{
        min-width: 175%;
    }
}