 .main-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 50%;
    max-width: 1000px;
    gap: 25px;
}

.main-content__header{
    font-weight: 400;
    font-size: 55px;
    width: 100%;
}

.main-content__subheader{
    font-size: 32px;
}

.main-content__img{
    margin-right: 2%;
}

.main-content{
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: baseline;
    position: relative;

}

.main-content__link{
    width: 18vw;
    max-width: 300px;
    min-width: 240px;
    font-size: 14px;
    border-radius: 80px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    text-transform: uppercase;
    line-height: 22px;
    transition: 0.5s;
    position: relative;
} 

.main-content__link:first-child{
    background-color: rgba(18, 200, 104, 1);
}

.main-content__link:last-child{
    background-color: rgba(243, 129, 32, 1);
}

.btn-img{
    width: 10%;
}

.main-content__text,
.btn-img{
    transition: 0.5s;
}

.main-content__link:hover .main-content__text{
    transition: 0.5s;
    transform: translateX(3px);
}

.main-content__link:hover .btn-img{
    transition: 0.5s;
    transform: translateX(-3px);
}

.main-content__link:first-child:hover{
    background-color: rgba(33, 226, 124, 1)
}

.main-content__link:last-child:hover{
    background-color: rgba(253, 156, 73, 1);
}

.main-content__content{
    text-align: center;
    width:13vw;
    line-height: 22px;
    min-width: 200px;
    margin-left: 15px;
}

.main-content__pic{
    position: absolute;
    top: 10px;
    left: 0;
    width: 26px;
}

@media(max-width:1440px){
    .main-content__header{
        font-size: 45px;
    }
    .main-content__subheader{
        font-size: 25px;
    }
    .main-content__link{
        font-size: 12px;
    }
    
}

@media(max-width:1100px){
    .main-content__header{
        font-size: 36px;
    }
    .main-content__subheader{
        font-size: 20px;
    }
    .main-content__link{
        width: 18vw;
        max-width: 300px;
        min-width: 200px;    
        font-size: 10px;
        padding: 10px;
    }
    .main-content__content{
        margin-left: 25px;
    }
}

@media(max-width:890px){
    .main-container{
        justify-content: start;
    }
    .main-content__header{
        font-size: 28px;
        min-width: 350px;
    }
    .main-content__subheader{
        font-size: 18px;
    }
}

@media(max-width:450px){
    .main-content{
        flex-wrap: wrap;
        gap: 15px;
    }
} 